html{
  background-color: black;
}
p{
  color: white;
  text-align: center;
  font-size: 18px;
}
h1{
  color: white;
  font-size: 36px;
  font-family: 'Rajdhani';
  margin: 20px 0;
}
.text{
  color: white;
  font-size: 18px;
}
.acteur-principale figcaption{
  color: white;
  text-align: center;
}
.acteur-principale{
  display: flex;
}
h2{
  color: white;
  font-size: 36px;
  font-family: 'Rajghani';
  margin: 20px 0;
}
.part3{
  width: 150px;
  height: 150px;
  margin-right: 200px;
}
.méchtext{
  color: white;
  font-size: 18px;
}
.opposant figcaption{
  color: white;
  text-align: center;
}
.opposant{
  display: flex;
}
.solitaire img{
  margin-left: 800px;
  background-color: black;
}
.alltext p{
  color: white;
  font-size: 18px;
}
h3{
  color: white;
  font-size: 36px;
  font-family: 'Rajghani';
  margin: 20px 0
}
.amis figcaption{
  color: white;
}
.amis{
  display: flex;
}
h4{
  color: white;
  font-size: 36px;
  font-family: 'Rajghani';
  margin: 20px 0
}
h5{
  color: white;
  font-size: 36px;
  font-family: 'Rajghani';
  margin: 20px 0
}
body{
  position: absolute;
  width: 1050px;
  margin: 0 auto;
  background-color: black;
  padding:  100px;
  border: 5px solid black;
  border-style: ridge;
}
.groupe{
  position: relative;
  margin: -90px;
}
.groupe img{
  position: absolute;
  left: 200px;
}
.flèche img{
  margin-left: 500px;
}
.chemin{
  text-align: center;
}
.chemin button{
  background: linear-gradient(135deg, #EDDEBF60, #19587D60);
  padding: 10px 20px; 
  min-width: 100px;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  order: 0; 
}
.maison {
  order: 2; 
}
.arrow{
  display: flex;
}
.arrow-begin{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  justify-content: space-between;
  background: linear-gradient(135deg, #EDDEBF60, #19587D60);
  border-radius: 0 10px 10px 0;
}
.arrow-begin img{
  margin-right: 10px;
}
.arrow-begin figcaption{
  color: white;
  font-size: 12px;
}
.conte h6{
  color: white;
  font-size: 30px;
  text-align: center;
}
.conte-2 label{
  color: white;
}
.conte{
  display: block;
  padding: 20px;
  justify-content: stretch;
  background: linear-gradient(135deg, #EDDEBF60, #19587D60);
  margin: -100px;
}
.gout-T{
  display: flex;
  margin-left: 500px;
  text-align: center;
}
.gout-T button{
  background: linear-gradient(135deg, #EDDEBF60, #19587D60);
}
#commentaire{
  width: 500px;
}
.conf{
  text-align: center;
}
.conf button{
  background: linear-gradient(135deg, #EDDEBF, #890008);
  padding: 10px 20px; 
  min-width: 300px;
  font-size: 30px;
  color: white;
}
.conc-u p{
  font-size: 15px;
}
.conc-s{
  display: flex;
  margin-left: 900px;
  text-align: center;
}
.azure-1 figcaption{
  color: white;
  font-size: 10px;
}
.azure-1{
  display: flex; 
  align-items: center;
  text-align: center;
}
.azure-2 img{
  margin-right: 0px;
  margin-left: 100px;
  align-items: center;
}
