html{
  background-color: black;
}
p{
  color: white;
  text-align: center;
  font-size: 18px;
}
h1{
  color: white;
  font-size: 36px;
  font-family: 'Rajdhani';
  margin: 20px 0;
}
.text{
  color: white;
  font-size: 18px;
}
.acteur-principale figcaption{
  color: white;
}
.acteur-principale{
  display: flex;
}
h2{
  color: white;
  font-size: 36px;
  font-family: 'Rajghani';
  margin: 20px 0;
}
.part3{
  width: 150px;
  height: 150px;
  margin-right: 100px;
}
.méchtext{
  color: white;
  font-size: 18px;
}
.opposant figcaption{
  color: white;
}
.opposant{
  display: flex;
}
.solitaire img{
  margin-left: 800px;
  background-color: black;
}
.alltext p{
  color: white;
  font-size: 18px;
}
h3{
  color: white;
  font-size: 36px;
  font-family: 'Rajghani';
  margin: 20px 0
}
.amis figcaption{
  color: white;
}
.amis{
  display: flex;
}
h4{
  color: white;
  font-size: 36px;
  font-family: 'Rajghani';
  margin: 20px 0
}
h5{
  color: white;
  font-size: 36px;
  font-family: 'Rajghani';
  margin: 20px 0
}
body {
  width: 1050px;
  margin: 0 auto;
  background-color: black;
  padding:  100px;
  border: 9px solid black;
  border-style: ridge;
}
.groupe img{
  margin:auto;
  display: block;
  text-align: center;
}
